<h1>Edite suas informacoes</h1>
<form action="" method="POST" class="form">

  <div class="form-control">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" placeholder="Digite seu nome" value="{{usuarios.nome}}">
  </div>

  <div class="form-control">
    <label for="email">E-mail:</label>
    <input type="text" name="email" placeholder="Digite seu e-mail" value="{{usuarios.email}}">
  </div>

  <div class="form-control">
    <label for="idade">Idade:</label>
    <input type="text" name="idade" placeholder="Digite sua idade" value="{{usuarios.idade}}">
  </div>

  <div class="form-control">
    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" placeholder="Digite seu cpf" value="{{usuarios.cpf}}">
  </div>

  <input type="submit" value="cadastrar">
</form>