<div id="user">
  <a href="/usuarios">Voltar</a>
  <div class="container">
    <h1>Nome: {{usuarios.nome}}</h1>
    <p>E-mail: {{usuarios.email}}</p>
    <p>Idade: {{usuarios.idade}}</p>
    <p>CPF: {{usuarios.cpf}}</p>
  </div>
</div>